@use 'variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background;
    font-family: Arial, sans-serif;
    color: $text-dark;
}

a {
    text-decoration: none;
    color: $primary-dark;
}

h1, h2, h3 {
    color: $primary-dark;
}

.loading-overlay {
  position: fixed;
  inset: 0; 

  background: rgba(0, 0, 0, 0.85);
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 9999; 
}

.loading-overlay h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #555;
  border-top: 5px solid white;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}