.livros {
  padding: 30px;
  color: white;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.livros-busca {
  display: flex;
  gap: 10px;
  margin: 20px 0;
  padding: 15px;

  background: #1e1e1e;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);

  input {
    flex: 1;
    padding: 14px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    outline: none;
  }

  button {
    padding: 12px 18px;
    border-radius: 10px;
    border: none;
    background: #444;
    color: white;
    cursor: pointer;

    &:hover {
      background: #666;
    }
  }
}

.livros-resultados {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.livros-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  background: #1e1e1e;
  padding: 10px;
  border-radius: 8px;

  min-width: 0;

  transition: transform 0.25s ease;

  &:hover {
    transform: scale(1.02);
    z-index: 10;
  }

}

.livros-link {
  display: flex;
  align-items: center;
  gap: 12px;

  flex: 1;
  min-width: 0;
  color: white;
}

.livros-capa {
  width: 50px;
  height: 70px;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
}

.livros-info {
  flex: 1;
  min-width: 0;

  h3 {
    font-size: 18px;
    margin: 0;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  p {
    font-size: 14px;
    color: #ccc;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.livros-sem-capa {
  width: 50px;
  height: 70px;
  background: #333;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 10px;
}

.livros-botao {
  padding: 8px 12px;
  font-size: 16px;

  border: none;
  border-radius: 8px;
  cursor: pointer;

  background: #2e7d32;
  color: white;

  &:hover {
    background: #388e3c;
  }
}